---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gen-availability-cm
  namespace: prometheus
data:
  gen-availability.json: |
    {
      "annotations": {
        "list": [
          {
            "builtIn": 1,
            "datasource": "-- Grafana --",
            "enable": true,
            "hide": true,
            "iconColor": "rgba(0, 211, 255, 1)",
            "name": "Annotations & Alerts",
            "type": "dashboard"
          }
        ]
      },
      "editable": true,
      "gnetId": null,
      "graphTooltip": 0,
      "links": [],
      "panels": [
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "red",
                    "value": null
                  },
                  {
                    "color": "green",
                    "value": 1
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 0
          },
          "id": 14,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.15",
          "targets": [
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instance=~\"shared-preprod-scylla.*\",name=\"scylla-server.service\",state=\"active\",status=\"running\"})",
              "interval": "",
              "legendFormat": "Shared Scylla Service",
              "refId": "A"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Shared ScyllaDB Status",
          "type": "stat"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "red",
                    "value": null
                  },
                  {
                    "color": "green",
                    "value": 1
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 0
          },
          "id": 18,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.15",
          "targets": [
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instance=~\"ods-preprod-scylla-db.*\",name=\"scylla-server.service\",state=\"active\",status=\"running\"})",
              "interval": "",
              "legendFormat": "Shared Scylla Service",
              "refId": "A"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "ODS ScyllaDB Status",
          "type": "stat"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [
                {
                  "from": "",
                  "id": 1,
                  "text": "OK",
                  "to": "",
                  "type": 1,
                  "value": "200"
                }
              ],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "red",
                    "value": null
                  },
                  {
                    "color": "green",
                    "value": 200
                  }
                ]
              },
              "unit": "none"
            },
            "overrides": [
              {
                "matcher": {
                  "id": "byName",
                  "options": "Jenkins"
                },
                "properties": [
                  {
                    "id": "mappings",
                    "value": [
                      {
                        "from": "",
                        "id": 1,
                        "text": "OK",
                        "to": "",
                        "type": 1,
                        "value": "403"
                      }
                    ]
                  },
                  {
                    "id": "thresholds",
                    "value": {
                      "mode": "absolute",
                      "steps": [
                        {
                          "color": "red",
                          "value": null
                        },
                        {
                          "color": "green",
                          "value": 403
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 8
          },
          "id": 17,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.15",
          "targets": [
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://consul.preprod.aws.uk.tsb\", job=\"blackbox\"}",
              "interval": "",
              "legendFormat": "Consul Service",
              "refId": "A"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://vault.preprod.aws.uk.tsb\", job=\"blackbox\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Vault",
              "refId": "B"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://grafana.preprod.aws.uk.tsb\", job=\"blackbox\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Grafana",
              "refId": "C"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://prometheus.preprod.aws.uk.tsb\", job=\"blackbox\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Prometheus",
              "refId": "D"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://jenkins.preprod.aws.uk.tsb\", job=\"blackbox_4xx\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Jenkins",
              "refId": "E"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://artifactory.mgmt.aws.uk.tsb\", job=\"blackbox\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Artifactory",
              "refId": "F"
            },
            {
              "exemplar": true,
              "expr": "probe_http_status_code{instance=\"https://kibana.mgmt.aws.uk.tsb\", job=\"blackbox\"}",
              "hide": false,
              "interval": "",
              "legendFormat": "Kibana(ElasticSearch)",
              "refId": "G"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Shared Infrastructure Endpoint Status",
          "type": "stat"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "red",
                    "value": null
                  },
                  {
                    "color": "green",
                    "value": 1
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 6,
            "y": 16
          },
          "id": 15,
          "options": {
            "colorMode": "value",
            "graphMode": "none",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": [
                "lastNotNull"
              ],
              "fields": "",
              "values": false
            },
            "text": {},
            "textMode": "auto"
          },
          "pluginVersion": "7.5.15",
          "targets": [
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "interval": "",
              "legendFormat": "CB EKS Node Pool",
              "refId": "A"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-sco-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "COB EKS Node Pool",
              "refId": "B"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-cop-phase2-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "COP EKS Node Pool",
              "refId": "C"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-sca-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "SCA EKS Node Pool",
              "refId": "D"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-scofl-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "SCO FL EKS Node Pool",
              "refId": "F"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-obs-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "OBS EKS Node Pool",
              "refId": "E"
            },
            {
              "exemplar": true,
              "expr": "count(node_systemd_unit_state{instancename=~\"preprod-eks-ods-node.*\",name=\"kubelet.service\",state=\"active\",status=\"running\"})",
              "hide": false,
              "interval": "",
              "legendFormat": "ODS EKS Node Pool",
              "refId": "G"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "EKS Pool Status",
          "type": "stat"
        }
      ],
      "refresh": false,
      "schemaVersion": 27,
      "style": "dark",
      "tags": [],
      "templating": {
        "list": []
      },
      "time": {
        "from": "now-24h",
        "to": "now"
      },
      "timepicker": {},
      "timezone": "",
      "title": "AWS Infrastructure Status - Preprod",
      "uid": "-uAAIXM4k",
      "version": 7
    }