---
apiVersion: crd.projectcalico.org/v1
kind: NetworkPolicy
metadata:
  name: jenkins-master
  namespace: jenkins
spec:
  selector: app.kubernetes.io/component == 'jenkins-master'
  types:
    - Ingress
    - Egress
  ingress:
    - metadata:
        annotations:
          from: lb
          to: jenkins-master
      action: Allow
      protocol: TCP
      source:
        selector: vpc == 'local' && layer == 'all'
        namespaceSelector: global()
      destination:
        ports:
          - 8080
    - metadata:
        annotations:
          from: jenkins-agent
          to: jenkins-master
      action: Allow
      source:
        namespaceSelector: all()
        serviceAccounts:
          selector: role == 'jenkins-agent'
  egress:
    - metadata:
        annotations:
          from: jenkins-master
          to: jenkins-agent
      action: Allow
      destination:
        namespaceSelector: all()
        serviceAccounts:
          selector: role == 'jenkins-agent'
---
apiVersion: crd.projectcalico.org/v1
kind: NetworkPolicy
metadata:
  name: jenkins-agent
  namespace: jenkins
spec:
  serviceAccountSelector: role == 'jenkins-agent'
  types:
    - Ingress
    - Egress
  ingress:
    - metadata:
        annotations:
          from: jenkins-master
          to: jenkins-agent
      action: Allow
      source:
        selector: app.kubernetes.io/component == 'jenkins-master'
  egress:
    - metadata:
        annotations:
          from: jenkins-agent
          to: jenkins-master
      action: Allow
      destination:
        selector: app.kubernetes.io/component == 'jenkins-master'
---
apiVersion: crd.projectcalico.org/v1
kind: NetworkPolicy
metadata:
  name: jenkins-agent-packer
  namespace: jenkins
spec:
  serviceAccountSelector: role == 'jenkins-agent' && component == 'packer'
  types:
    - Egress
  egress:
    - metadata:
        annotations:
          from: jenkins-agent-packer
          to: vpc
      action: Allow
      protocol: TCP
      destination:
        selector: vpc == 'local' && layer == 'all'
        namespaceSelector: global()
        ports:
          - 22
          - 5985
          - 5986
    - metadata:
        annotations:
          from: jenkins-agent-packer
          to: proxy
      action: Allow
      protocol: TCP
      destination:
        selector: vpc == 'proxy' && layer == 'all'
        namespaceSelector: global()
        ports:
          - 22
    - metadata:
        annotations:
          from: jenkins-agent-packer
          to: vpc-mgmt-access
      action: Allow
      protocol: TCP
      destination:
        selector: vpc == 'mgmt' && layer == 'access'
        namespaceSelector: global()
        ports:
          - 443
---
apiVersion: crd.projectcalico.org/v1
kind: NetworkPolicy
metadata:
  name: allow-egress
  namespace: jenkins
spec:
  namespaceSelector: 'kubernetes.io/metadata.name == "jenkins"'
  types:
    - Egress
  egress:
    - action: Allow
      destination:
        services:
          name: scylla-manager
          namespace: scylla-manager