---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: dl-cwexporter
  namespace: prometheus
spec:
  releaseName: dl-cwexporter
  chart:
    repository: https://prometheus-community.github.io/helm-charts
    name: prometheus-cloudwatch-exporter
    version: 0.14.1
  values:
    ## helm upgrade dl-cwexporter -n prometheus prometheus-community/prometheus-cloudwatch-exporter --version 0.14.1 -f values-min.yaml
    replicaCount: 1
    command:
      - 'java'
      - '-Dhttp.proxyHost=eu-west-2.proxy.aws.uk.tsb'
      - '-Dhttp.proxyPort=3128'
      - '-Dhttps.proxyHost=eu-west-2.proxy.aws.uk.tsb'
      - '-Dhttps.proxyPort=3128'
      - '-Dhttp.nonProxyHosts=localhost|127.0.0.1|169.254.169.254|10.0.0.0/8|.internal|.eu-west-2.elb.amazonaws.com|vault.service.consul|ssm.eu-west-2.amazonaws.com|ssmmessages.eu-west-2.amazonaws.com|ec2.eu-west-2.amazonaws.com|ec2messages.eu-west-2.amazonaws.com|s3.eu-west-2.amazonaws.com|autoscaling.eu-west-2.amazonaws.com|secretsmanager.eu-west-2.amazonaws.com|kms.eu-west-2.amazonaws.com|ecr.eu-west-2.amazonaws.com|.eks.amazonaws.com|.ecr.eu-west-2.amazonaws.com|.s3.eu-west-2.amazonaws.com|.aws.uk.tsb'
      - '-Dhttps.nonProxyHosts=localhost|127.0.0.1|169.254.169.254|10.0.0.0/8|.internal|.eu-west-2.elb.amazonaws.com|vault.service.consul|ssm.eu-west-2.amazonaws.com|ssmmessages.eu-west-2.amazonaws.com|ec2.eu-west-2.amazonaws.com|ec2messages.eu-west-2.amazonaws.com|s3.eu-west-2.amazonaws.com|autoscaling.eu-west-2.amazonaws.com|secretsmanager.eu-west-2.amazonaws.com|kms.eu-west-2.amazonaws.com|ecr.eu-west-2.amazonaws.com|.eks.amazonaws.com|.ecr.eu-west-2.amazonaws.com|.s3.eu-west-2.amazonaws.com|.aws.uk.tsb'
      - '-Daws.region=eu-west-2'
      - '-jar'
      - '/cloudwatch_exporter.jar'
      - '9106'
      - '/config/config.yml'

    containerPort: 9106
    image:
      repository: docker.artifactory.mgmt.aws.uk.tsb/docker-remote/prom/cloudwatch-exporter
      tag: cloudwatch_exporter-0.10.0
      pullPolicy: IfNotPresent

    service:
      type: ClusterIP
      port: 9106
      portName: http
      annotations: {}
      labels: {}

    # pod:
    #   labels:
    #     app: tsb-datalake

    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi


    aws:
      role: prometheus-thanos-s3
      # Enables usage of regional STS endpoints rather than global which is default
      stsRegional:
        enabled: false

      secret:
        name:
        includesSessionToken: false

    serviceAccount:
      create: false
      name: prometheus-sa
    rbac:
      create: true

    # Configuration is rendered with `tpl` function, therefore you can use any Helm variables and/or templates here
    config: |-
      region: eu-west-2
      period_seconds: 240
      metrics:
      - aws_namespace: AWS/RDS
        aws_metric_name: BurstBalance
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: CPUUtilization
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: CPUCreditBalance
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: DiskQueueDepth
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: FreeableMemory
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: FreeStorageSpace
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/RDS
        aws_metric_name: SwapUsageThreshold
        aws_dimensions: [DBInstanceIdentifier]
        aws_dimension_select_regex:
          DBInstanceIdentifier: ["^tsb-datalake.*$"]
        aws_statistics: [Average]
      - aws_namespace: AWS/SQS
        aws_metric_name: ApproximateNumberOfMessagesVisible
        aws_dimensions: [QueueName]
        aws_dimension_select_regex:
          QueueName: ["^tsb-datalake.*$"]
      - aws_namespace: AWS/SQS
        aws_metric_name: ApproximateAgeOfOldestMessage
        aws_dimensions: [QueueName]
        aws_dimension_select_regex:
          QueueName: ["^tsb-datalake.*$"]
      - aws_namespace: AWS/Lambda
        aws_metric_name: Errors
        aws_dimensions: [FunctionName]
        aws_dimension_select_regex:
          FunctionName: ["^tsb-datalake.*$"]
        aws_statistics: [Sum]
      - aws_namespace: AWS/Lambda
        aws_metric_name: Errors
        aws_dimensions: [FunctionName]
        aws_dimension_select_regex:
          FunctionName: ["^tsb-voiceanalytics.*$"]
        aws_statistics: [Sum]
      - aws_namespace: Glue
        aws_metric_name: "glue.driver.aggregate.numFailedTasks"
        aws_dimensions: 
        - JobName
        - JobRunId
        - Type
        aws_dimension_select_regex:
          JobName: ["^tsb-datalake.*$"]
        aws_statistics: [Sum]
      - aws_namespace: AWS/States
        aws_metric_name: ExecutionsFailed
        aws_dimensions: [StateMachineArn]
        aws_dimension_select_regex:
          StateMachineArn: [".*tsb-datalake.*$"]
        aws_statistics: [Sum]
      - aws_namespace: AWS/States
        aws_metric_name: ExecutionsTimedOut
        aws_dimensions: [StateMachineArn]
        aws_dimension_select_regex:
          StateMachineArn: [".*tsb-datalake.*$"]
        aws_statistics: [Sum]
      - aws_namespace: AWS/States
        aws_metric_name: ExecutionsFailed
        aws_dimensions: [StateMachineArn]
        aws_dimension_select_regex:
          StateMachineArn: [".*tsb-voiceanalytics.*$"]
        aws_statistics: [Sum]
      - aws_namespace: AWS/States
        aws_metric_name: ExecutionsTimedOut
        aws_dimensions: [StateMachineArn]
        aws_dimension_select_regex:
          StateMachineArn: [".*tsb-voiceanalytics.*$"]
        aws_statistics: [Sum]
      - aws_namespace: CloudTrailMetrics
        aws_metric_name: EmrSecurityChangesEventCount
        period_seconds: 120
        aws_statistics: [Sum]
      - aws_namespace: CloudTrailMetrics
        aws_metric_name: EmrJobFlowsUnauthorizedCount
        aws_statistics: [Sum]
        period_seconds: 120
      - aws_namespace: tsb-datalake-cb
        aws_metric_name: CbGlueInError
      - aws_namespace: tsb-datalake-push
        aws_metric_name: PushGlueInError
      - aws_namespace: tsb-datalake-navilog
        aws_metric_name: NavilogGlueInError
      - aws_namespace: tsb-datalake-sco
        aws_metric_name: ScoGlueInError
      - aws_namespace: tsb-datalake-gdpr
        aws_metric_name: GdprGlueInError
      - aws_namespace: tsb-datalake-cop
        aws_metric_name: CopGlueInError
      - aws_namespace: tsb-datalake-cma
        aws_metric_name: CmaGlueInError
      - aws_namespace: tsb-datalake-crm
        aws_metric_name: crmGlueInError
      - aws_namespace: tsb-datalake-crossmaster
        aws_metric_name: crossmasterGlueInError
      - aws_namespace: tsb-datalake-lat
        aws_metric_name: latGlueInError
      - aws_namespace: tsb-datalake-latinia
        aws_metric_name: LatiniaGlueInError
      - aws_namespace: tsb-datalake-office
        aws_metric_name: officeGlueInError
      - aws_namespace: tsb-datalake-opslog
        aws_metric_name: OpsLogGlueInError
      - aws_namespace: tsb-datalake-p4uk
        aws_metric_name: p4ukGlueInError
      - aws_namespace: tsb-datalake-psd2
        aws_metric_name: psd2GlueInError
      - aws_namespace: tsb-datalake-resolve
        aws_metric_name: resolveGlueInError
      - aws_namespace: tsb-datalake-sas
        aws_metric_name: sasGlueInError
      - aws_namespace: tsb-datalake-appointmentbooking
        aws_metric_name: appointmentbookingGlueInError
      - aws_namespace: tsb-datalake-speechanalytics
        aws_metric_name: speechanalyticsGlueInError
      - aws_namespace: tsb-datalake-verint
        aws_metric_name: verintGlueInError
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: 4XXError
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
        aws_statistics: [Sum, Average]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: 5XXError
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
        aws_statistics: [Sum, Average]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: CacheHitCount
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
        aws_statistics: [Sum, Average]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: CacheMissCount
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
        aws_statistics: [Sum, Average]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: Count
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
        aws_statistics: [SampleCount]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: IntegrationLatency
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
      - aws_namespace: AWS/ApiGateway
        aws_metric_name: Latency
        aws_dimensions: [ApiName, Method, Resource, Stage]
        aws_dimension_select_regex:
          ApiName: ["^tsb-ods.*$","Cobol API","^Customer.*$"]
      - aws_namespace: AWS/ELB
        aws_metric_name: HealthyHostCount
        aws_dimensions: [AvailabilityZone, LoadBalancerName]
        aws_statistics: [Average]


    # Configurable health checks against the /healthy and /ready endpoints
    livenessProbe:
      path: /-/healthy
      initialDelaySeconds: 120
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3

    readinessProbe:
      path: /-/ready
      initialDelaySeconds: 120
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3

    serviceMonitor:
      enabled: true
      namespace: prometheus
      interval: 240s
      telemetryPath: /metrics
      timeout: 10s

    nodeSelector:
      taints.eks.aws.uk.tsb/role: mgmt

    tolerations:
      - key: role
        operator: Equal
        value: mgmt
        effect: NoSchedule

    affinity: {}
