apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: kube-prometheus-stack
    release: prometheus
  name: sca-pod-restart-alerts
  namespace: prometheus
spec:
  groups:
    - name: SCA_PODS_RESTART_STATE
      rules:
  ###########################################SCA_POD_RESTART_CRITICAL##########################################################
        - record: sca_pod_restart_critical_{{ AWS_ENVIRONMENT }}
          expr: delta(kube_pod_container_status_restarts_total{namespace="sca", pod=~"tsb-sca.*|tsb-stepup.*|tsb-sca-pr-.*"} [5m])
        - alert: SCA_pod_restart_critical_alert_{{ AWS_ENVIRONMENT }}
          expr: sca_pod_restart_critical_{{ AWS_ENVIRONMENT }} >=1
          #for: 5m
          labels:
            action: Application is likely impacted
            environment: "{{ AWS_ENVIRONMENT }}"
            group: INFRA
            level: CRITICAL
            platform: AWS
            namespace: sca
            severity: CRITICAL
            priority: P3
            type: 8x5
            tsbci: SCA_BROADCOM_AWS
            itopsbridge: "true"
          annotations:
            description: 'POD {{ $labels.pod }} for Microservice {{ $labels.container }} restarted 3 times or more in last 5m. Restart Count:{{ $value }}'
            summary: Critical Alert POD {{ $labels.pod }} restart indicates that its not healthy.
            