apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: kube-prometheus-stack
    release: prometheus
  name: cdc-down-alerts
  namespace: prometheus
spec:
  groups:
    - name: CDC_Alerts
        
      rules:
        - record: datastore_state
          expr: (datastore_state)

        - alert: CDC_Subscription_State
          expr: datastore_state{job="ec2-discover-node-exporter", instance=~"cdc-.*", state="Mirror Continuous"} < 1
          for: 5m
          labels:
            environment: "{{ AWS_ENVIRONMENT }}"
            level: CRITICAL
            platform: AWS
            severity: CRITICAL
            priority: P3
            application: cdc
            tsbci: INFOSPHERE_CDC
            itopsbridge: "true"
          annotations:
            Description: '***State of {{ $labels.subscription }} is not Mirror Continuous. State:{{ $labels.state }} and Status:{{ $labels.status }}'
            Summary: Alert CDC- State of {{ $labels.subscription }} is not Mirror Continuous
       - alert: CDC_Subscription_State_failed
          expr: datastore_state{job="ec2-discover-node-exporter", instance=~"cdc-.*", state!="Mirror Continuous"}
          for: 5m
          labels:
            environment: "{{ AWS_ENVIRONMENT }}"
            level: CRITICAL
            platform: AWS
            severity: CRITICAL
            priority: P3
            application: cdc
            tsbci: INFOSPHERE_CDC
            itopsbridge: "true"
          annotations:
            Description: '***State of {{ $labels.subscription }} is not Mirror Continuous. State:{{ $labels.state }} and Status:{{ $labels.status }}'
            Summary: Alert CDC- State of {{ $labels.subscription }} is failed
        
        - alert: CDC_Subscription_Availability
          expr: count(datastore_state{job="ec2-discover-node-exporter", instance=~"cdc-.*"}) by (state) < 2
          for: 5m
          labels:
            environment: "{{ AWS_ENVIRONMENT }}"
            level: CRITICAL
            platform: AWS
            severity: CRITICAL
            priority: P3
            application: cdc
            tsbci: INFOSPHERE_CDC
            itopsbridge: "true"
          annotations:
            Description: '***One or more subscriptions is/are not available. Value: {{ $value }} Value:1 means one subcription is missing, Value:0 means all 2 subscriptions are missing'
            Summary: Alert CDC- One or more subscriptions is/are not available

        - alert: CDC_FILE_DISCRIPTOR_LIMIT
          expr: process_open_fds{job="ec2-discover-node-exporter", instance=~"cdc-.*"} / process_max_fds{job="ec2-discover-node-exporter", instance=~"cdc-.*"} > 0.7
          for: 10m
          labels:
            severity: WARNING
            priority: P4
            environment: "{{ AWS_ENVIRONMENT }}"
            monitoring: node_process_near_FD_limits
            rackspace: "true"
            hostname: "{{ $labels.instance }}"
            tsbci: AWS_ELZ
          annotations:
            summary: "Process Near File Discriptor Limits for Instance {{ $labels.instance }} is above 70% used for 10 minutes"

        - alert: CDC_OPENFILES
          expr: cdc_openfiles{job="ec2-discover-node-exporter", instance=~"cdc-.*", status="running"} > 10000
          for: 5m
          labels:
            severity: WARNING
            priority: P4
            environment: "{{ AWS_ENVIRONMENT }}"
            monitoring: node_process_near_FD_limits
            rackspace: "true"
            hostname: "{{ $labels.instance }}"
            tsbci: AWS_ELZ
          annotations:
            summary: "Openfiles by CDC user on  {{ $labels.instance }} is above 10000"
            
            
        - alert: MDATP_OPENFILES
          expr: mdatp_openfiles{job="ec2-discover-node-exporter", instance=~"cdc-.*", status="running"} > 2048
          for: 5m
          labels:
            severity: WARNING
            priority: P4
            environment: "{{ AWS_ENVIRONMENT }}"
            monitoring: node_process_near_FD_limits
            rackspace: "true"
            hostname: "{{ $labels.instance }}"
            tsbci: AWS_ELZ
          annotations:
            summary: "Openfiles by mdatp user on  {{ $labels.instance }} is above 2048"
